<div class="w-screen h-screen flex flex-nowrap overflow-hidden">
  <div class="flex flex-col overflow-hidden w-80 border-r-2">
    <div class="sticky top-0 h-20 flex justify-between items-center pr-3 pl-4">
      <span class="tracking-widest font-bold text-3xl">Figure</span>
      <svg class="w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
    <div class="h-full overflow-y-auto overflow-x-hidden">
      <ul >
        <li>Dashboard</li>
      </ul>
    </div>
  </div>
  <div class="w-full overflow-y-auto overflow-x-hidden text-center">
    content do later
  </div>

</div>